data/javadocs/

data/class/**
!data/class/*.py

data/package/**
!data/package/*.py


repo/

model_*
model/**
!model/*.gold
!model/*.output

################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
**/*.ipynb_checkpoints/

