data/raw/**
!data/raw/*.py

data/javadocs/**
!data/javadocs/*.py

repo/

model_*
model/**
!model/*.gold
!model/*.output

################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
