fine-tuning/data/javadocs/

fine-tuning/data/class/**
!fine-tuning/data/class/*.py

fine-tuning/data/package/**
!fine-tuning/data/package/*.py

fine-tuning/model_*
fine-tuning/model/

java-repo-parser/target/
java-repo-parser/repo/

repo/

tmp/

model/
################################################
.vscode
.idea
.DS_Store

__pycache__/
*.py[cod]
*$py.class
**/*.ipynb_checkpoints/

